<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/index.css') }}">
</head>

<body>
    <div class="video-bg">
        <video width="320" height="240" autoplay loop muted>
            <source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="app">
        <div class="header">
            <div class="menu-circle"></div>
            <div class="header-menu">
                <a class="menu-link is-active" href="{{ url_for('home') }}">Home</a>
                <a class="menu-link" href="{{ url_for('pokedex') }}">Pokedex</a>
                <a class="menu-link" href="{{ url_for('favorites') }}">Favorites</a>
                <a class="menu-link" href="{{ url_for('logout') }}">Log Out</a>
            </div>
            <form class="search-bar" action="" onsubmit="searchPokemon(event)">
                <input type="text" name="pokemon" autocomplete="off" placeholder="Search">
            </form>
        </div>
        <div class="wrapper">
            <div class="left-side">
                <div class="side-wrapper">
                    <div data-poke-card class="poke-card mb-5">
                        <div data-poke-name>Pokedex</div>
                        <div data-poke-img-container class="img-container">
                            <img data-poke-img class="poke-img" src="static/images/poke-shadow.png" />
                        </div>
                        <div data-poke-id></div>
                        <div data-poke-types class="poke-types"></div>
                        <div data-poke-stats class="poke-stats"></div>
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="content-wrapper">
                    <div class="content-wrapper-header">
                        <div class="content-wrapper-context">
                            <h3 class="img-content">¡Bienvenido a PokeJason!</h3>
                            <div class="content-text">¡Prepárate para sumergirte en el maravilloso
                                mundo de los Pokémon y descubrir todo lo que necesitas saber sobre ellos!</div>
                        </div>
                        <img class="content-wrapper-img" src="https://assets.codepen.io/3364143/glass.png" alt="">
                    </div>
                    <div class="content-section">
                        <div class="content-section-title">Sobre Nosotros</div>
                        <div class="apps-card">
                            <div class="app-card">
                                <span>Explora</span>
                                <div class="app-card__subtext">Aquí encontrarás información detallada sobre
                                    cientos de Pokémon de todas las regiones.</div>
                                <div class="app-card-buttons"></div>
                            </div>
                            <div class="app-card">
                                <span>Conoce</span>
                                <div class="app-card__subtext">Explora y conoce las características, tipos y evoluciones
                                    de tus Pokémon
                                    favoritos.</div>
                                <div class="app-card-buttons"></div>
                            </div>
                            <div class="app-card">
                                <span>Favoritos</span>
                                <div class="app-card__subtext">Contamos con opcion de guardado para que no
                                    pierdas tus pokemones favoritos de vista.</div>
                                <div class="app-card-buttons"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="overlay-app"></div>
    </div>
    <!-- JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/static/javascript/index.js"></script>
    <script src="/static/javascript/script.js"></script>
</body>

</html>